.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 70%;
  padding: 10px;
}

h1 {
  font-weight: 600;
  padding-bottom: 6px;
}

label {
  margin-top: 40px;
  font-size: 14px;
}

input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #36db64;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #1cc354;
}